@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(98% 0.004 240);
  --foreground: oklch(0.145 0 0);
  --card: oklch(98% 0.004 240);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(98% 0.004 240);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(5.5% 0.02 240);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(96% 0.01 240);
  --secondary-foreground: oklch(0.145 0 0);
  --muted: oklch(96% 0.01 240);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(47.5% 0.12 249);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(69% 0.15 5);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(92% 0.005 240);
  --input: oklch(92% 0.005 240);
  --ring: oklch(5.5% 0.02 240);
}

.dark {
  --background: oklch(10% 0.01 240);
  --foreground: oklch(0.985 0 0);
  --card: oklch(12% 0.015 240);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(12% 0.015 240);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(5.5% 0.02 240);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(15% 0.02 240);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(15% 0.02 240);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(47.5% 0.12 249);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(69% 0.15 5);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(20% 0.02 240);
  --input: oklch(20% 0.02 240);
  --ring: oklch(5.5% 0.02 240);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
